@media screen and (max-width:1060px) {
    header {
        position: sticky;
        top: 0;
        background: white;
        box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
            -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
        height: auto;
        padding: 30px;
    }
    header nav ul {
        display: none;
    }
    header span.header-btn {
        display: none;
        
    }
    main section#board div.board-container {
        display: flex;
        justify-content: unset;
        flex-direction: column;
    }
    main section#board div.board-container div.website-details {
        background: linear-gradient(to left, rgb(236, 250, 255), #d8e1f8);
        border-radius: 20rem;
        display: flex;
    }
    main section#board div.board-container div.website-details div.date,
    main section#board div.board-container div.website-details div.bid,
    main section#board div.board-container div.website-details div.place {
        flex-direction: column;
        margin: 0 20px;
    }
}